body {
    font-family: Arial, sans-serif;
    background-color: #9CF7A5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #E794F2;
    width: 90%;
    max-width: 400px;
    height: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
  
  .task-list {
    background-color: #9CF7A5;
    padding: 10px;
    border-radius: 10px;
    height: 60%;
    overflow-y: scroll;
  }
  
  .task {
    background-color: #E794F2;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 5px;
  }
  
  .footer-button:last-child {
    margin-right: 0;
  }  